<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/style.css}" />
        <title>Product</title>
    </head>
    <body>
    <h1>Product</h1>
    <p>You must enter a description for the product</p>
    <form th:action="@{/product/update}" th:object="${product}" method="post">
        <input type="hidden" name="action" th:value="${action}"/>
        <label>Code:</label>
        <input type="hidden" th:field="*{code}" th:value="${product.code}"/>
        <span th:text="${product.code}"></span><br>
        <label>Description:</label>
        <input type="text" th:field="*{description}"/><br>
        <label>Price:</label>
        <input type="text" th:field="*{price}"/><br>
        <button type="submit">Update Product</button>
    </form>
    </body>
</html>